@font-face {
  src: url("../../../public/fonts/BebasNeueRegular.ttf");
  font-family: "Bebas Neue";
}

.frame {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100vh;
  z-index: 2;
  position: relative;
}

.top-container {
  width: 100vw;
  margin-left: 3.25vw;
}

.frame .top-container .top-text {
  color: #ffffff;
  font-family: "A Pompadour Sample-Regular", Helvetica;
  font-size: 1.5vw;
  left: 3.5vw;
  letter-spacing: 1px;
  position: absolute;
  top: 1vw;
}

.top-container hr {
  margin: 4.75vw 0 0 0;
  width: 40vw;
  height: 1px;
  border: none;
  background-color: #ffffff;
  position: absolute;
}

.frame .top-container .my-name {
  letter-spacing: 3px;
  font-family: A Pompadour Display Sample;
  color: #ffffff;
  font-size: 2.5vw;
  left: -1.75vw;
  position: absolute;
  top: 11vw;
  transform: rotate(-90deg);
}

.frame .option-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  height: 100vh;

  padding-right: 5%;
  font-size: 14vw;
  color: #ffffff;
  font-weight: 400;
  font-family: "Bebas Neue", sans-serif;
}

.frame .bottom-options {
  display: inline-flex;
  position: absolute;
  bottom: 2vh;
  align-items: center;

  color: #ffffff;
  font-family: "A Pompadour Sample-Regular", Helvetica;
  font-size: 0.5vw;
  width: 20vw;
}

.frame .bottom-options hr{
  flex: 0.25;
  height: 1px;
  border: none;
  background-color: #ffffff;
  width: 0.5vw;
}

.frame .bottom-options .inner-hr{
  flex: 0.1;
}