.goofy-glory {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

/* The main content */
.project-content {
  margin-left: 6vw;
  width: calc(100% - 6vw);
  height: 100%;
  background-color: #f8f7f4;
  position: relative;
}

.goofy-glory .text-container {
  align-items: flex-start;
  margin-left: 4vw;
  margin-top: 3vw;
  height: 100%;
  overflow: hidden;
}

.goofy-glory .text-image-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 75%;
  overflow: hidden;
  margin-top: 2%;
}

.goofy-glory .main-text {
  width: 45vh;
  font-family: "Poppins", sans-serif;
  font-size: 2.1vh;
  font-weight: 400;
  align-items: center;
}

.goofy-glory .image-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100vh;
  border: none;
  margin-left: 5vw;
  margin-right: 15vw;
  object-fit: contain;
}

.goofy-glory .video {
  width: 80%;
  height: auto;
  border: 4px solid black;
  border-radius: 0px;
}

.goofy-glory .image {
  border: #000000 4px solid;
  border-radius: 10px;
  width: 200%;
  height: auto;
  object-fit: contain;
}
