@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

* {
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

.projects-frame {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

/* -- The body --  */
.project-info {
  height: 100vh;
  overflow: auto;
}

section {
  font-family: "A Pompadour Sample-Regular", Helvetica;
  font-weight: 200;
  color: #ffffff;

  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  overflow: hidden;

  position: relative;
  scroll-snap-align: center;
  perspective: 500px;
}

section > div {
  height: 70vh;
  margin: 10px;
}

.numbers {
  width: 5vw;
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
  align-items: center;
}

.numbers h2 {
  font-family: "Lora", serif;
  font-size: 1.5vw;

  border: 1px solid white;
  border-radius: 50%;
  width: 4vh;
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number-index:not(.active) {
  visibility: hidden;
}

.name-and-lines {
  width: 20vw;
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.name-and-lines hr {
  margin-left: 0;
  width: 3vw;
  border: none;
  border-top: 1px solid white;
}

.name-and-lines h2 {
  color: #ffffff;
  font-family: "A Pompadour Sample-Regular", Helvetica;
  font-size: 2vw;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.project-image {
  width: 95vh;
  height: 100%; 
  display: flex;
  align-items: center; 
  justify-content: center; 
}

.project-image img {
  object-fit: contain;
  width: 100%;
  height: auto;
  padding: 16px;
  border: 1px solid white;
}

/* -- The Container to go back -- */
.back-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;

  height: 17vh;
  width: 4vw;
}

.back-container h1 {
  color: #ffffff;
  font-family: "Lora", serif;
  font-size: 1.75vw;
  font-weight: 400;

  transform: rotate(-90deg);
  text-align: center;
  cursor: pointer;
}

.back-container h1:hover {
  color: #b6b6b6;
}

.back-container h1::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 2px;
  background-color: #ffffff;
  transition: width 0.2s ease;
}

.back-container h1:hover::after {
  width: 100%;
}

.back-container hr {
  transform: rotate(90deg);
  width: 2.5vw;
  border: 1px solid #ffffff;
  margin: 0;
}
