@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

/* -- Hide the scroll bar -- */
* {
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none;
  scrollbar-width: auto;
}

*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.63);
  border-radius: 20px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
  border-left: rgba(255, 255, 255, 0.63) 2px solid;
  position: relative;
}

.projects-frame {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  z-index: 1;
}

/* -- The body --  */
.project-info {
  height: 100%;
  overflow-x: hidden;
}

section {
  font-weight: 200;
  color: #ffffff;

  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  overflow: hidden;

  position: relative;
  scroll-snap-align: center;
  perspective: 500px;
}

section > div {
  height: 70vh;
  margin: 10px;
}

/* -- The Numbers Section -- */
.numbers {
  width: 5vw;
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
}

.numbers h2 {
  font-family: "Lora", serif;
  font-size: 1.25vw;

  border: 1px solid white;
  border-radius: 50%;
  width: 4vh;
  height: 4vh;
  margin-right: 0.25vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

.number-index:not(.active) {
  visibility: hidden;
}

/* -- The Name and lines container -- */
.number-container,
.name-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.name-and-lines {
  width: 19vw;
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 1vw;
}

.name-and-lines hr {
  display: none;
  margin-left: 0;
  width: 2.5vw;
  border: none;
  border-top: 1px solid white;
}

.name-and-lines h2 {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 1.75vw;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.name-index:not(.active) {
  visibility: hidden;
}

.hr-index:not(.active) {
  display: block;
}

/* -- The Image of the projetct -- */
.project-image {
  width: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-image img {
  object-fit: contain;
  width: 85%;
  height: auto;
  padding: 16px;
  border: 1px solid white;
}

/* -- The Stars -- */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.first-star.hovered,
.second-star.hovered {
  animation: rotate 8s linear infinite;
}

.first-star {
  position: absolute;
  top: 14%;
  left: 26%;
  width: 3%;
  z-index: 1;
  animation: rotate 5s linear infinite;
  animation-play-state: paused;
}

.second-star {
  position: absolute;
  bottom: 14%;
  right: 16%;
  width: 2%;
  z-index: 1;
  animation: rotate 8s linear infinite;
  animation-play-state: paused;
}

/* -- Sections hover -- */
.numbers h2,
.name-and-lines h2,
.project-image img {
  transition: transform 0.2s ease-in-out, font-weight 0.2s ease-in-out;
}

.numbers h2.hovered,
.name-and-lines h2.hovered,
.project-image img.hovered {
  transform: scale(1.1);
  font-weight: 600;
  cursor: pointer;
}

/* -- The Container to go back -- */
.back-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;

  height: 17vh;
  width: 4vw;
}

.back-container h1 {
  color: #ffffff;
  font-family: "Lora", serif;
  font-size: 1.75vw;
  font-weight: 400;

  transform: rotate(-90deg);
  text-align: center;
  cursor: pointer;
}

.back-container h1:hover {
  color: #b6b6b6;
}

.back-container h1::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 2px;
  background-color: #ffffff;
  transition: width 0.2s ease;
}

.back-container h1:hover::after {
  width: 100%;
}

.back-container hr {
  transform: rotate(90deg);
  width: 2.5vw;
  border: 1px solid #ffffff;
  margin: 0;
}
