.project-frame {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  padding: 0 2vw;
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

/* The Marquee */
@keyframes vertical-scroll {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.marquee {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 10%;
  height: 100%;
}

.marquee h1 {
  color: #f8f7f4;
  font-family: "Lora", serif;
  font-weight: 200;
  font-size: 5vh;
  white-space: nowrap;
  transform: rotate(270deg);
  animation: vertical-scroll 5s linear infinite;
}

/* The main content */
.project-content {
  width: 100%;
  height: 100%;
  background-color: #f8f7f4;
}

.text-container {
  align-items: flex-start;
  margin-left: 4vw;
  margin-top: 3vw;
  height: 100%;
}

.date-text {
  font-family: "Lora", serif;
  font-size: 2vh;
}

.github-text {
  font-family: "Poppins", sans-serif;
  font-size: 2vh;
}

.text-image-wrapper {
  display: flex;
  align-items: center; /* Center vertically */
  width: 100%;
  height: 75%;
}

.main-text {
  width: 45vh;
  margin-top: 3vw;
  font-family: "Poppins", sans-serif;
  font-size: 2.5vh;
  font-weight: 400;
  align-items: center;
}

.image-container {
  margin-left: 8vw;
  margin-right: 10vw;
  width: 100vh;
  object-fit: contain;
}

/* -- The Container to go back -- */
.back-container-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  right: 0vw;
  height: 17vh;
  width: 4vw;
}

.back-container-project h1 {
  color: #000000;
  font-family: "Lora", serif;
  font-size: 1.75vw;
  font-weight: 400;

  transform: rotate(-90deg);
  text-align: center;
  cursor: pointer;
}

.back-container-project h1:hover {
  color: #b6b6b6;
}

.back-container-project h1::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 2px;
  background-color: #000000;
  transition: width 0.2s ease;
}

.back-container-project h1:hover::after {
  width: 100%;
}

.back-container-project hr {
  transform: rotate(90deg);
  width: 2.5vw;
  border: 1px solid #000000;
  margin: 0;
}
