.about-frame {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  opacity: 0.8;
}

/* The main content */
.about-frame .about-content {
  width: 40%;
  height: 100%;
  background-color: #f8f7f4;
  position: relative;
}

.about-frame .text-wrapper {
  display: flex;
  flex-direction: column;

  padding: 3vw;
  width: 100%;
  box-sizing: border-box;
}

.about-frame .name {
  font-family: "Poppins", sans-serif;
  font-size: 3vh;
  color: #000000;
  font-weight: 600;
  margin-bottom: 2vh;
}

.about-frame .main-text {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 2.1vh;
  font-weight: 400;
  align-items: center;
  margin-top: 0%;
}

.about-frame .image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.about-frame .my-picture {
  position: absolute;
  right: 18%;
  width: 25vw;
  object-fit: contain;
  padding: 16px;
  border: 1px solid white;
}

.about-frame .first-star {
  left: 86%;
  top: 10%;
  width: 2%;
}

.about-frame .second-star {
  right: 50%;
  bottom: 10%;
}

/* Back Button */
.back-container-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  right: 0vw;
  height: 17vh;
  width: 4vw;
}

.back-container-about h1 {
  color: #ffffff;
  font-family: "Lora", serif;
  font-size: 1.75vw;
  font-weight: 400;

  transform: rotate(-90deg);
  text-align: center;
  cursor: pointer;
}

.back-container-about h1:hover {
  color: #b6b6b6;
}

.back-container-about h1::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 2px;
  background-color: #ffffff;
  transition: width 0.2s ease;
}

.back-container-about h1:hover::after {
  width: 100%;
}

.back-container-about hr {
  transform: rotate(90deg);
  width: 2.5vw;
  border: 1px solid #ffffff;
  margin: 0;
}
